{% extends "::base.html.twig" %}

{% block title %}Twój samochód {% endblock %}

{% block body %}




    </br>
    </br>


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Model</th>
                <th>Wersja Wyposażenia</th>
                <th>Silnik</th>
                <th>Skrzynia biegów</th>
                <th>Kolor nadwozia</th>
                <th>Kolor dachu</th>
                <th>Kolor wnętrza</th>
                <th>Termin Produkcji</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ carTranslated.model.model }}</td>
                <td>{{ carTranslated.model.wersjaWyposazenia }}</td>
                <td>{{ carTranslated.model.silnik }}</td>
                <td>{{ carTranslated.model.skrzyniaBiegow }}</td>
                <td>{{ carTranslated.kolor.kolorNadwozia }}</td>
                <td>{{ carTranslated.kolor.kolorDachu }}</td>
                <td>{{ carTranslated.wnetrze }}</td>
                <td> {% if carTranslated.ifa is empty %}
                        Samochód jeszcze nie posiada terminu produkcji
                    {% else %}
                        {{ carTranslated.ifa }} Tydzień roku
                    {% endif %}
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div id="pakiety">
            <ul>
                {% for i in carTranslated.pakiety %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
