{% extends "::base.html.twig" %}

{% block title %}Twój samochód {% endblock %}

{% block body %}


    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">

        <a class="navbar-brand" href="#">Strona glówna</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('userMain') }}">
                        {% if car.klient|split(' ')[0]|last == "a" %}
                            Pani
                        {% else %}
                            Pan
                        {% endif %}  {{ car.klient }} <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Wyslij wiadomosc<span class="sr-only">(current)</span></a>
                </li>

            </ul>
            <div class="form-inline my-2 my-lg-0">
                <a href="{{ path('userLogout') }}">Wyloguj się</a>
            </div>
        </div>
    </nav>

    </br>
    </br>


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Model</th>
                <th>Wersja Wyposażenia</th>
                <th>Silnik</th>
                <th>Skrzynia biegów</th>
                <th>Kolor nadwozia</th>
                <th>Kolor dachu</th>
                <th>Kolor wnętrza</th>
                <th>Termin Produkcji</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ carTranslated.model.model }}</td>
                <td>{{ carTranslated.model.wersjaWyposazenia }}</td>
                <td>{{ carTranslated.model.silnik }}</td>
                <td>{{ carTranslated.model.skrzyniaBiegow }}</td>
                <td>{{ carTranslated.kolor.kolorNadwozia }}</td>
                <td>{{ carTranslated.kolor.kolorDachu }}</td>
                <td>{{ carTranslated.wnetrze }}</td>
                <td> {% if carTranslated.ifa is empty %}
                        Samochód jeszcze nie posiada terminu produkcji
                    {% else %}
                        {{ carTranslated.ifa }} Tydzień roku
                    {% endif %}
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <div class="row">
        <div id="pakiety">
            <ul>
                {% for i in carTranslated.pakiety %}
                    <li>{{ i }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
